@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: #6030b1;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    font-size: 16px;
    text-decoration: none;
    color: #242424;
    font-weight: bold;
}


.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}


.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

}

.about-me__picture--mask {
    width: 130px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
    margin-bottom: 28px;
    animation: animate-profile-picture 800ms 200ms backwards;
}

.about-me__picture {
    width: 100%;
    /* improving my own picture */
    transform: scale(1.15);
    padding-top: 6px;
} 

.about-me__info--title {
    margin-bottom: 16px;
}
.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me__link {
    font-size: 28px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;

}


.about-me__img {
    width: 100%;
}


/* TECH STACK */

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 400ms ease;
}

.language:hover .language__img {
    /* When you hover over the language, then we target the image */
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
    /* How to give it the hover effect */
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
    /* Brings name of language to center but on top*/
    /* Position relative shows language name; it is visible because it is relative to the parent */
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.language__name {
    position: absolute; /* Makes sure not to affect the parent's size */
    bottom: 0;
    /* Brings language to the bottom; bottom 0 relative to the language class */
    transform: scale(0);
    /* How to give it the hover effect */
    transition: all 700ms;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language__name {
    transform: scale(1);
    /* When you hover over it it is scaled  */
    opacity: 1;
    /* How to fade it in while scaling it  */
}


/* PROJECTS */

.project {
    margin-bottom: 135px;
}

.project:last-child {
    margin-bottom: 40px;
}


.project__img {
    width: 100%;
    transition: all 500ms ease;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    /* Add position relative to this */
}

.project__wrapper:before {
    content:"";
    position: absolute;
    /* Does not affect the position of anything */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    /* Position relative not on parent */
    opacity: 0;
    /* Default opacity */
    transition: 450ms ease;
    z-index: 2;
    /* Z index in the before pseudo selector because that's what we want over it */
}

.project:hover .project__wrapper:before {
    /* When we hover over the project, we want to targer the before pseudo selector on the project wrapper, and this is when we will change the opacity */
    opacity: 0.7;
}

.project:hover .project__img {
    /* When we hover over the project, edit image by: */
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description {
    /* When we over the projects that's when we want the opacity to be 1 and to see the project description */
    opacity: 1;
    transform: translateY(-50%);
    /* Brings text from below to the center of screen */

}

.project__list {
    padding-top: 40px
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project__description--title {
    font-size: 40px;
}

.project__description--para {
    margin: 16px 0;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}


.project__description--title, 
.project__description--sub-title,
.project__description--para,
.project__description--link {
    text-align: left;
    color: white
}